Addy Osmani <addyosmani@gmail.com>
Clément Partiot <cpartiot@gmail.com>
Corey Frang <gnarf37@gmail.com> <gnarf@gnarf.net>
Douglas Calhoun <douglas.calhoun@gmail.com>
Eddie Monge <eddie@eddiemonge.com>
Eran Weissenstern <Eran.Weissenstern@PrimeSense.com>
Eugene Nikolaev <eugene.nikolayev@gmail.com>
Garrett Johnson <gjj391@gmail.com> <=>
Herwin Weststrate <herwin@quarantainenet.nl>
John K. Paul <john@johnkpaul.com>
Luís Soares <lsoares@gmail.com>
Radu Oprita <oprita@gmail.com>
Rebecca Murphey <rebecca@rebeccamurphey.com> <rmurphey@gmail.com>
Scott Murphy <stmhawaii@gmail.com>
Steven Hauser <stevenhauser@gmail.com>
Youssef Boulkaid <yboulkaid@gmail.com>
