<div class="clearfix meta">
	<div class="github">
		<img src="<%= @item[:github_user]["avatar_url"] %>" class="avatar" />
		<h3 class="author">By <a href="<%= @item[:github_user]["html_url"] %>"><%= @item[:github_user]["name"] %></a></h3>
	</div>
	<div class="feedback">
		<h4>Suggestions? Problems? Feedback?</h4>
		You can open an issue or submit a pull request for
		<a target="_blank" href="https://github.com/jquery/learn.jquery.com/blob/master/content/<%= @item.identifier.slice(1..-2) %>.md">
			this article on GitHub
		</a>
		<a href="#">(Help!)</a>
	</div>
</div>

<div class="clearfix pagination">
  <% if @item[:previous_item] %><a href="<%= @item[:previous_item].path %>" class="previous"><span class="article"><%= @item[:previous_item][:title] %></span> <span class="direction">Previous</span></a><% end %>
  <% if @item[:next_item] %><a href="<%= @item[:next_item].path %>" class="next"><span class="article"><%= @item[:next_item][:title] %></span> <span class="direction">Next</span></a><% end %>
</div>
