<%= render 'header' %>

<!-- body -->
	<div id="body" class="clearfix sidebar-right">

		<div class="inner">

			<% if @item[:title] %>
			<h2 class="title"><%= @item[:title] %></h2>
			<% end %>

			<%= yield %>

			<% myFolder = @item[:filename].split('/')[1] %>
			<% folderItems = @items.group_by {|item| item[:filename].split('/')[1] } %>
			<ul>
				<% folderItems[ myFolder ].sort_by {|item| item[:title] || "" }. each do |item| %>
					<% if item[:title] && !(item[:filename] =~ /\/dex\.md$/) %>
					<li><a href="<%= item.path %>"><%= item[:title] %></a></li>
					<% end %>
				<% end %>
			</ul>
		</div>

		<%= render 'sidebar' %>

	</div>
<!-- /body -->

<%= render 'footer' %>
