<!-- sidebar -->
<aside id="sidebar" class="clearfix autoHeight">
        
        <h2>Categories</h2>
        <hr>
        
        <ul class="nav">
        <% @site.config[:chapters].each do |folder, chapter| %>
        <li <% if folder == @item[:chapter] %>class="active"<% end %>><a href="/<%= folder %>"><%= chapter[:title] %></a></li>
        <% end %>
        </ul>
        
        <div class="paper subnav closed">
                <div class="shadow"></div>
                <a href="#" class="paper_edges">Open</a>
                <div class="inner">
                	<div class="white_bg">
                	<%= render 'chapter_contents' %>
                	</div>
                </div>
        </div>
        
</aside>
<!-- sidebar -->
